* {
	box-sizing: border-box
}

#myUL {
	list-style-type: none;
	padding: 0;
	margin: 0
}

#myUL li a {
	/* background-color: #222; */
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	/* color: #fff; */
        color: #222;
	display: block
}

#myUL li a:hover:not(.header) {
        background-color: #f1f8ff   
}

.form-control {
        border: 0;
}